.lead-mine {
    font-size: 15px;
}

.content-container {
    position: relative;
    top: 50px;
}

.content-item {
    position: absolute;
    display: none;
}

.active-content-item {
    display: block;
    /* background: red;
    height: 500px; */
}