.top-plate {
    /* background: brown; */
    height: 50px;
}

.nav-cont {
    background: rgb(0, 26, 255);
}

.nav-row {
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-cont-inner {
    height: inherit;
    color: white;
    width: 100%;
}

/* .nav-tabs {
    display: flex;
    flex-direction: row;
} */

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    flex: 1;
    text-align: center;
    color: white;
}

.active {
    border-radius: 0 !important;
}

.icons-cont {
    /* background: rgb(121, 108, 108); */
    height: 40px;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: row;
}

.icon-item-link {
    flex: 1;
    text-align: center;
    color: white;
}

.icon-item-link:hover {
    text-decoration: none;
}

.icon-cont {
    /* background: hotpink; */
    height: 100%;
    /* width: 50%; */

}

.icon-cont img {
    width: 35%;
}

.number {
    position: relative;
    top: -8px;
    left: -7px;
}